API_PORT=YOUR-PORT
API_HOST=YOUR-HOST
DATABASE_HOST=YOUR-DATABASE-HOST
DATABASE_PORT=YOUR-DATABASE-PORT
DATABASE_NAME=YOUR-DATABASE-NAME
DATABASE_USER=YOUR-DATABASE-USER
DATABASE_PASSWORD=YOUR-DATABASE-PASSWORD
